<div [formGroup]="form">

    <mat-form-field>
        <mat-label>Calendar</mat-label>
        <mat-select [formControlName]="'calendar'" (selectionChange)="_handleInput()">
            <mat-option *ngFor="let cal of calendars" [value]="cal">
                {{cal}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-radio-group [formControlName]="'startEra'" aria-label="Select an option" (change)="_handleInput()">
        <mat-radio-button value="BCE">Before Common Era</mat-radio-button>
        <mat-radio-button value="CE">Common Era</mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
        <mat-label>Year</mat-label>
        <input matInput placeholder="Year" type="number" [formControlName]="'startYear'" min="1"
               (input)="_handleInput()">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Month</mat-label>
        <mat-select [formControlName]="'startMonth'" (selectionChange)="_handleInput()">
            <mat-option [value]="null">no selection</mat-option>
            <mat-option *ngFor="let month of months" [value]="month">
                {{month}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Day</mat-label>
        <mat-select [formControlName]="'startDay'" (selectionChange)="_handleInput()">
            <mat-option [value]="null">no selection</mat-option>
            <mat-option *ngFor="let day of daysStart" [value]="day">
                {{day}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-checkbox class="period-checkbox" [formControlName]="'isPeriod'" (change)="_handleInput()">
        is time period
    </mat-checkbox>

    <span *ngIf="isPeriodControl.value">
        <mat-radio-group [formControlName]="'endEra'" aria-label="Select an option" (change)="_handleInput()">
            <mat-radio-button value="BCE">Before Common Era</mat-radio-button>
            <mat-radio-button value="CE">Common Era</mat-radio-button>
        </mat-radio-group>
        <mat-form-field>
            <mat-label>Year</mat-label>
        <input matInput placeholder="Year" type="number" [formControlName]="'endYear'" min="1" (input)="_handleInput()">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Month</mat-label>
        <mat-select [formControlName]="'endMonth'" (selectionChange)="_handleInput()">
            <mat-option [value]="null">no selection</mat-option>
            <mat-option *ngFor="let month of months" [value]="month">
                {{month}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Day</mat-label>
        <mat-select [formControlName]="'endDay'" (selectionChange)="_handleInput()">
            <mat-option [value]="null">no selection</mat-option>
            <mat-option *ngFor="let day of daysEnd" [value]="day">
                {{day}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    </span>
</div>
