<div [formGroup]="form">

    <mat-form-field>
        <mat-label>Calendar</mat-label>
        <mat-select [formControlName]="'calendar'" (selectionChange)="_handleInput()">
            <mat-option *ngFor="let cal of calendars" [value]="cal">
                {{cal}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-radio-group [formControlName]="'era'" aria-label="Select an option" (change)="_handleInput()">
        <mat-radio-button value="BCE">Before Common Era</mat-radio-button>
        <mat-radio-button value="CE">Common Era</mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
        <mat-label>Year</mat-label>
        <input matInput placeholder="Year" type="number" [formControlName]="'year'" min="1" (input)="_handleInput()">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Month</mat-label>
        <mat-select [formControlName]="'month'" (selectionChange)="_handleInput()">
            <mat-option [value]="null">no selection</mat-option>
            <mat-option *ngFor="let month of months" [value]="month">
                {{month}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Day</mat-label>
        <mat-select [formControlName]="'day'" (selectionChange)="_handleInput()">
            <mat-option [value]="null">no selection</mat-option>
            <mat-option *ngFor="let day of days" [value]="day">
                {{day}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
