.expert-search-container {
  min-height: 100%;
  min-width: 100%;
}

button {
  margin: 0 6px;
}

.component-container {
  background: rgba(233,233,233,.5);
  padding: 16px;
}


.set-search-param {
  padding: 12px 16px;
}

.demo {
  margin: 30px 0;
}

// simulate header, which is normally defined in the app itself; do not copy these lines
.header {
  width: 100%;
  height: 64px;
  background: #ebebeb;
  display: inline-flex;

  .center {
    margin: 12px auto;
  }
}

.search-results {
  margin: 30px 0;
}
