<h2>Search panel</h2>
<dsp-search-panel
    (search)="doSearch($event)"
    [projectfilter]="true"
    [expert]="false"
    [advanced]="false">
</dsp-search-panel>

<h2>Expert Search</h2>
<div class="content large middle expert-search-container">
    <dsp-expert-search (search)="doSearch($event)"></dsp-expert-search>
</div>

<br>
<!-- TODO: reactivate as soon the dsp-list-view is ready
-->
<div class="search-results" *ngIf="searchParams">
    <dsp-list-view [search]="searchParams"></dsp-list-view>
</div>
