@import "./config";
@import "./mixins";
@import "./responsive";

.link:hover {
  background-color: $black-12-opacity;
}

// css for parent value components

.read-mode-view {
  font: 400 15px/24px sans-serif;
  p {
    margin: 0px;
  }
}

.child-value-component,
.value-component-comment {
  display: block;
}

.parent-component-wrapper .value-component-comment {
  margin-top: -2em;
}

.parent-value-component .child-value-component .mat-form-field-wrapper .mat-form-field-infix {
  border-top: 0em solid transparent;
}


// css for child components of a parent value component

.child-input-component {
  display: inline-block;
  vertical-align: bottom;
  width: 49%;
  &:nth-child(2) {
    padding-left: 2%;
  }
}

// custom error message

.custom-error-message {
  font-size: 12px;
  margin-top: -1em;
  padding-bottom: 1em;
}
