<!-- TODO: Will be replaced by login form from action module -->
<!--
<p>Login / Logout / Session</p>
<p>
This is an automatic login button for the moment just to test the session service.
We will implement the login form here as soon its moved from the old knora-ui.
</p>
<button mat-raised-button color="primary" *ngIf="!loading && !session" (click)=login()>Login as test user</button>
<button mat-raised-button color="warn" *ngIf="!loading && session" (click)=logout()>Logout</button>
<dsp-progress-indicator *ngIf="loading"></dsp-progress-indicator>
-->


<hr>

<p>Login/Logout</p>
<dsp-login-form></dsp-login-form>

<hr>

<p>Sorting</p>
<dsp-sort-button [sortProps]="sortProps" [position]="'right'" [activeKey]="'creator'" (sortKeyChange)="sortList($event)"></dsp-sort-button>
<ul>
    <li *ngFor="let item of list">
        <span>{{item.firstname}} </span>
        <span>{{item.lastname}} </span>
        <span>{{item.creator}}</span>
    </li>
</ul>

<hr>

<p>Progress indicator</p>
<mat-list>
    <mat-list-item>
        <dsp-progress-indicator mat-list-avatar [status]="status" color="blue"></dsp-progress-indicator>
        <p mat-line>
            <strong>
                <span *ngIf="status == -1">before submit (not ready)</span>
                <span *ngIf="status == 0">submitting</span>
                <span *ngIf="status == 1">after submit (done)</span>
            </strong>
            status: {{status}}
        </p>
    </mat-list-item>
</mat-list>

<hr>

<p>Loading animation</p>
<dsp-progress-indicator></dsp-progress-indicator>

<hr>

<p>Message Component</p>
<p>Short</p>
<dsp-message [message]="shortMessage" [short]="true"></dsp-message>

<p>Medium</p>
<dsp-message [message]="errorMessage" [medium]="true"></dsp-message>

<p>Large</p>
<dsp-message [message]="errorMessage" [short]="false"></dsp-message>

<p>Open a message with a display duration of 2 seconds</p>
<button (click)="openMessage()" [disabled]="showTimedMessage">Click me</button>
<div *ngIf="showTimedMessage">
    <dsp-message [message]="shortMessage" [short]="true" [duration]="2000"></dsp-message>
</div>
<hr>

<p>Stringify String Literal pipe</p>
<strong>Show all values</strong>
<p>{{labels | dspStringifyStringLiteral:'all'}}</p>

<strong>Show only one value (Uses the language of the user if logged in. If not, uses the browser language)</strong>
<p>{{labels | dspStringifyStringLiteral}}</p>

<hr>
<p>StringLiteral input example</p>
<dsp-string-literal-input [placeholder]="'List label'" (dataChanged)="handleNewInput($event)" (enter)="submitNewInput()"> </dsp-string-literal-input>

<p>StringLiteral input example with preloaded values</p>
<dsp-string-literal-input [placeholder]="'List label'" [value]="stringLiteralInputLabels"> </dsp-string-literal-input>

<p>StringLiteral input example as textarea</p>
<dsp-string-literal-input [placeholder]="'List description'" [textarea]="true"> </dsp-string-literal-input>


<hr>

<p>Confirmation Dialog component</p>

<div>
    <button mat-raised-button color="primary" (click)="openDialog()" style="display: inline-block;">Open Confirmation Dialog</button>
    <p style="display: inline-block; padding-left: 2%"> {{confirmationDialogResponse}} </p>
</div>

<hr>

<p>GND Directive (Integrated Authority File)</p>


<span dspGnd [gnd]="'(DE-588)119166895'"></span>
