<span>dsp-ui-lib app is running!</span>
<nav class="navbar">
    <button class="route" mat-raised-button [routerLink]="['/read']" routerLinkActive="mat-accent">
        Read
    </button>
    <button class="route" mat-raised-button [routerLink]="['/modify']" routerLinkActive="mat-accent">
        Modify
    </button>
    <button class="route" mat-raised-button [routerLink]="['/action']" routerLinkActive="mat-accent">
        Action Module
    </button>
    <button class="route" mat-raised-button [routerLink]="['/search']" routerLinkActive="mat-accent">
        Search Module
    </button>
    <button class="route" mat-raised-button [routerLink]="['/advanced-search']" routerLinkActive="mat-accent">
        Advanced Search
    </button>
    <button class="route" mat-raised-button [routerLink]="['/still-image']" routerLinkActive="mat-accent">
        Still Image
    </button>
    <button class="route" mat-raised-button [routerLink]="['/viewer']" routerLinkActive="mat-accent">
        Viewer Module
    </button>
    <button class="route" mat-raised-button [routerLink]="['/ckeditor']" routerLinkActive="mat-accent">
        CKeditor
    </button>
</nav>
<router-outlet></router-outlet>
