<div *ngIf="values">
  <!--<div *ngFor="let vt of valueTypes"> -->
    <div *ngFor="let v of values">
      <kui-display-edit #displayEdit [parentResource]="testthing" [displayValue]="v" (valueDeleted)="updateValues($event)"></kui-display-edit>
    </div>
    <div *ngIf="createMode">
      <kui-add-value #displayEdit [parentResource]="testthing" [displayValue]="createValue" (valueAdded)="updateValues($event)" (operationCancelled)="hideAddValueForm($event)"></kui-add-value>
    </div>
    <div>
      <button class="create" *ngIf="createAllowed" (click)="showAddValueForm()">add</button>
    </div>
  <!-- </div> -->
</div>