<dsp-list-view [search]="fulltextSearch" (resourceSelected)="openResource($event)"></dsp-list-view>

<!--
<button mat-raised-button color="accent" (click)="showGrid = !showGrid">
    Display as {{showGrid ? "LIST" : "GRID"}}
</button>

<div class="resource-list" *ngIf="!showGrid">
    <h3>Simple list of resources: dsp-resource-list</h3>
    <dsp-resource-list *ngIf="resources" [resources]="resources" (resourceSelected)="openResource($event)">
    </dsp-resource-list>
</div>

<div class="resource-grid" *ngIf="showGrid">
    <h3>Simple grid of resources: dsp-resource-grid</h3>
    <dsp-resource-grid *ngIf="resources" [resources]="resources" (resourceSelected)="openResource($event)">
    </dsp-resource-grid>
</div>
-->
