<p>The <strong>DspViewerModule</strong> contains different component to display a resource.
    The example here shows the usage of <span>dsp-resource-view</span> which combines smaller
    components like one of the representation viewer or the value components. All of them can
    also be used individually.</p>

<dsp-resource-view
    [iri]="resource"
    [showToolbar]="true"
    (referredProjectClicked)="refProjectClicked($event)"
    (referredProjectHovered)="refProjectHovered($event)"
    (referredResourceClicked)="refResourceClicked($event)"
    (referredResourceHovered)="refResourceHovered($event)">
</dsp-resource-view>
