name: Node.js CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [11.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: git clone -b wip/121-mock-factory --single-branch --depth 1 https://github.com/dasch-swiss/knora-api-js-lib
    - run: cd knora-api-js-lib && npm install yalc -g && npm install && npm run yalc-publish
    - run: yalc add @knora/api
    - run: npm install
    - run: npm install puppeteer --only=dev
    - run: npm run ng t --project knora-ui
      env:
        CI: true
